/* .dayComponent{
   
} 
.today{
    border: solid 1px rgb(14, 235, 14);
}*/

.todoComponent{
    margin-top: 20px;
    width: 100%;
    color: white;
    font-size: 36px;
}
.OneTodo{
    display: flex;
}
.OneTodo > div{
    
    display: grid;
    /* border: solid 1px #64e6ca9d; */
    margin-bottom: 20px;
    
}
.OneTodo > div:first-child{
    width: 90%;
    
}

.OneTodo > div > input{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    
}
.OneTodo > div > input:first-child{
    
    /* text-align: center; */
    color: #9198e5;
    font-size: 24px;
    font-weight: 700;
}

.btnComponent{
    display: flex;
    justify-content: center;
}
.btnAdd{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(#64e6ca9d, #9198e5);
    font-size: 28px;
    font-weight: 600;
    margin: 30px;
}

.OneTodo > div:last-child > input{
    width: 100px;
    height: 30px;
    border: solid 1px #9198e5;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
}