.Year{
    color: rgb(199, 16, 245);
    font-size: 52px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.chevron-left{
    color: rgb(199, 16, 245);
    
}
.MonthBlock{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 28px;
  grid-gap: 20px;
  text-align: center;
  margin-top: 20px;
}