.monthComponent{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

/*название месяцев*/
.month{
    margin: 20px;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 36px;
    font-weight: 800;
    
}
/*блок с датами в каждом мецяце*/
.weekDays{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
    height: 300px;
    background-color: black;
    
    
}
.weekDays div:nth-child(7n){
    color: rgb(199, 16, 245);
}
.dayTitle{
    border-bottom: double;
}
