.monthComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*название месяцев*/
.month{
    margin: 20px;
    background: linear-gradient(#64e6ca9d, #9198e5);
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
    
}


/* Выбирает любой элемент, который будет соответствовать:link или :visited */
:any-link {
    color: rgb(111, 13, 136);
    text-decoration: none;
}

:any-link:hover{
    color: rgb(172, 14, 211);
}
/*блок с датами в каждом мецяце*/
.weekDays{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
    height: 300px;
    background-color: black;
    
    
}

.weekDays div:nth-child(6n){
    color: rgb(199, 16, 245);
}
.weekDays div:nth-child(7n){
    color: rgb(199, 16, 245);
}
.dayTitle{
    border-bottom: double;
}
.currDay{
    color: red;
}
.dayWithTodo{
    color: #06b690;
}
.everyDay{
    color: white;
}