.monthComponent{
    border: solid 1px rgb(75, 4, 168);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

/*название месяцев*/
.month{
    margin: 20px;
    color: rgb(199, 16, 245);
    font-size: 42px;
    font-weight: 800;
    
}
/*блок с датами в каждом мецяце*/
.weekDays{
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 15px;
    border: solid 1px white;
    height: 300px;
    
    
}
.dayTitle{
    border-bottom: double;
}
